<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <div class="index-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- <div class="swiper-slide">1</div>
                <div class="swiper-slide">2</div>
                <div class="swiper-slide">3</div> -->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="content good-list">
        <ul>
            <!-- 这里是动态的商品列v -->
            <li>
                <!-- 商品名字 -->
                <mark>123213</mark>
            </li>
        </ul>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>